<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Shop_Online</display-name>
  <welcome-file-list>
    <welcome-file>Default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>AutoLoginFilter</filter-name>
    <filter-class>com.cbh.web.filter.AutoLoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AutoLoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>UserLoginPrivilegeFilter</filter-name>
    <filter-class>com.cbh.web.filter.UserLoginPrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>UserLoginPrivilegeFilter</filter-name>
    <url-pattern>/usercenter/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>AdminLoginPrivilegeFilter</filter-name>
    <filter-class>com.cbh.web.filter.AdminLoginPrivilegeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AdminLoginPrivilegeFilter</filter-name>
    <url-pattern>/admin/*</url-pattern>
  </filter-mapping>
</web-app>